<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fpoly.supperman_nh_duan2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoapp"
        android:label="@string/RestaurantHouse"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <activity
            android:name=".ui.menu.xemthem.XemThemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.history.detail.HistoryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.thongtin.detail.ThongTinDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.history.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.updatemenu.UpdateMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.thanhtoan.ThanhToanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.onlinedetail.OnlineDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.menu.detail.MenuDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.adddish.AddDishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dish.DishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>